%html
  %head
    %title= 'Little Bits'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    -if flash[:error]
      %div{ class:"alert alert-dange" }
        = flash[:error]

    = yield
